@import-normalize; /* bring in normalize.css styles */
@import './components/feedback/feedback.scss';

body {
  margin: 0 auto;
  font-family: 'Gruppo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23272f;
  color: #149eca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}
